# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# JupyterLab workspace metadata
.jupyter/
.jupyterlab/

# Python virtual environment
venv/
.env/
*.env

# OS-specific
.DS_Store
Thumbs.db

# Cache files
__pycache__/
*.pyc
*.pyo